{% extends 'index.html' %} 

{% block head %}

{%  endblock %}


{% block body %}
<div class="container">
    <h1>Please login</h1>
    <br>
    <form action="" method="post">
      <input type="text" placeholder="Username" name="username" value="{{
        request.form.get('username') }}">
       <input type="password" placeholder="Password" name="password" value="{{
        request.form.get('password') }}">
      <input class="btn btn-default" type="submit" value="Login">
    </form>

{% endblock %}